.modoNoche{
    background-color: rgb(22, 0, 31);
    color: white;
    padding: 30px;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-weight: bold;
}

.modoDia{
    background-color: whitesmoke;
    color:rgb(22, 0, 31);
    padding: 30px;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-weight: bold;
}

.boton{
    font-size: 40px;
    border: none;
    background-color: transparent;
}