<div [ngClass]="{modoNoche: modo == 'noche', modoDia: modo == 'dia'}">
  <button class="boton" (click) = "changeModo()">{{texto}}</button>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit aspernatur velit aut porro suscipit? Quaerat corrupti quos totam nostrum molestiae quidem odit consectetur fuga, adipisci blanditiis dolorem aperiam sint qui!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique delectus mollitia sed. Modi facilis quam accusantium quaerat veniam sequi deleniti maiores, numquam dolor perferendis pariatur ex doloremque natus dicta voluptate!</p>
</div>

<router-outlet></router-outlet>
